

    .body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
    background-color: red;
}
 #myCanvas
{
   text-align: center;
}
body
{
  text-align: center;
}

p
{
  color: pink;
}

